*{
font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* Body */
body{
    background-color: black;
 }

 /*
 .button{
    color: whitesmoke;
    text-align: start;
    margin: auto;
    border-radius: 100%;
    text-shadow: 0rem .0rem .7rem yellow ;
}
*/


#title-1{
    color: whitesmoke;
    margin: auto;
    text-align: center;
    border-radius: 1%;
    text-shadow: 0rem .0rem .7rem rgb(255,255,0)
}

.title-2{
    color: whitesmoke;
    text-align: center;
    margin: auto;
    text-shadow: 0rem 0rem .7rem yellow
}

#imagen-logo{
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
}

.parrafos{
    color: whitesmoke;
    text-align: center;
    margin: auto;
    text-shadow: 0rem 0rem .7rem red;
}

#contacto1{
    text-align:center;
    margin: auto;
    text-shadow: red
}


#codigoQR{
    display: flex;
    margin: auto;
    width: 1.5in;
    height: 1.5in;
    
}

#qrs{
    display: flex;
}



#contactoH2{
    color: whitesmoke;
    text-shadow: 0rem 0rem .7rem yellow;
}
.redesSociales{
    color: whitesmoke;
    text-shadow: 0rem 0rem .7rem red;
    display: block;
    margin: auto;
    text-align: center;
    
}