@import url('https://fontsource.org/fonts/mansalva');
*{

      
}

body{
    font-family: 'Mansalva', cursive;
    background-color: #e26410;
}


                              /* BOTONES PRINCIPALES*/

.botonesPrincipales{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
    border: solid;
}

.boxBotones{
    display: block;
    margin: 1px;
}

#botonesP1{
    color: black;
    margin: auto;
    border: solid;
}




#botonesP2{
    color: black;
    border: solid;
}

#botonesP3{
    color: black;
    border: solid;
}

#botonesP4{
    color: black;
    border: solid;
}




                               /* PARRRAFOS */

p{
    margin: 1%; ;
    height: 50%;
    width: 70%;
    box-shadow: 0.5rem 0.5rem .5rem rgb(117, 53, 0);
    background-color:whitesmoke;
    border: solid;
    overflow: auto;
    padding: 12px 25px;
    
}


/*                            IMAGENES DE PORTADA     */

.portadasManga{
    display: block;
    height: 50%;
    width: 2.5in;
    border: solid;
}
